@font-face {
    font-family: 'RobotoBold';
    src: url('fonts/roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'RobotoLightItalic';
    src: url('fonts/roboto/Roboto-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'RobotoLight';
    src: url('fonts/roboto/Roboto-Light.ttf') format('truetype');
}


body {
    margin: 0%;
    padding: 0%;
    border-radius: 0%;
    border: none;
    overflow: hidden;
    background-color: #444444;
    font-family: RobotoBold;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
}

.body2 {
    justify-content: start;
    align-items: start;
    width: 100%;
}

.header {
    background-color: #444444;
    flex-direction: column;
    width: 5%;
    height: 98vh;
    justify-content: start;
    padding-top: 1vw;
    
}

.navItem {
    text-decoration: none;
    color: #ffffff;
    font-size: .8vw;
    margin: 0vw;
    height: 6%;
    width: 70%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    margin: .3vw;
}
.navImg{
    width: 2.2vw;
    height: 2.2vw;
    
}
.navItem:hover{
    background-color: #1A1A1A ;
}

.databaseBody {
    background-color: #333333;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow-y: scroll;
    border-bottom-left-radius: 1%;
}
.databaseBody::-webkit-scrollbar{
 display: none;
}

.databaseHeader {
    flex-direction: column;
    justify-content: start;
    width: 7%;
    border-right: solid 1px #ffffff79;
    background-color: #333333;
    
    
}

.databaseItem {
    color: #ffffff;
    text-decoration: none;
    height: 5%;
    width: 90%;
    font-size: .7vw;
    font-weight: 100;
    justify-content: start;
    padding-left: 10%;
    cursor: pointer;
}
.databaseDiv{
    width: 100%;
    overflow-x: scroll;
}
.databaseDiv::-webkit-scrollbar{
    display: none;
    width: 0%;
    height: 0%;
}

.tableHeader {
    height: auto;
    width: 98.7%;
    justify-content: space-between;
    padding-left: 0vw;
    overflow-x: scroll;

}
.tableHeader::-webkit-scrollbar{
    display: none;
    width: 0%;
    height: 0%;
}

.table {
    padding: 1vw;
    font-size: 1vw;
    color: #66B2FF;
    cursor: pointer;
    opacity: .9;
    border-bottom: solid 1px #66B2FF;
    font-family: RobotoLightItalic;
}
.table:hover{
    opacity: 1;
}
.BlueBlackBtn{
    background-color: #66B2FF;
    color: #333333;
    border: none;
    padding: .7vw;
    border-radius: 1vw;
    font-size: .8vw;
    margin: 0vw .5vw;
    cursor: pointer;
    box-shadow: 2px 2px 8px 2px rgba(27, 27, 27, 1);
    font-family: RobotoBold;
}
.BlueBlackBtn:hover{
    transform: scale(102%);
}
.SmlBBBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #66B2FF;
    color: #333333;
    font-size: .8vw;
    cursor: pointer;
    width: 90%;
    padding: 5%;
    height: 5%;
    margin: 0%;
}
.SmlBBBtn:hover{
    opacity: .9;
}
.dataInsertBtn{
    color: #333333;
    background-color: #66B2FF;
    padding: .4vw;
    margin: 1vw;
    border-radius: 1.5vw;
    font-size: .6vw;
    cursor: pointer;
    border: none;
    outline: none;
    font-family: RobotoBold;
}
.dataInsertBtn:hover{
    opacity: .8;
}
.SVG{
    width: 1.2vw;
    height: 1.2vw;
}
.TableDisplay{
    margin-top: 5%;
    margin-left: 1%;
    padding: .2vw;
    border-collapse: collapse;
    border-spacing: 0;
    color: #66B2FF;
    border: .2vw;
}
.tableDesc{
    text-align: center;
    font-size: 1vw;
    margin: 0%;
    border-bottom: solid 1px #66B2FF;
}
.tableRow{
    margin: 0%;
    padding: 0%;
    margin: 0vw;
}
.tableData{
    padding-left: .5vw;
    height: 2vw;
    width: 10vw;
    margin: 0%;
    font-size: .7vw;
    font-family: RobotoLight;
}
.tableInput{
    padding-left: .5vw;
    height: 2vw;
    width: 10vw;
    margin: 0%;
    border: solid 3px #66B2FF;
    font-size: .7vw;
    background: none;
    outline: none;
}
.tableID{
    height: 2vw;
    width: 1.5vw;
    font-size: 1.2vw;
    margin: 0%;
    color: #ffffff;
    text-align: center;
}
.tableEdit{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: .5vw;
    height: 2vw;
    width: 4vw;
    margin: 0%;
    color: #ffffff;
    font-size: .7vw;
}
.addRowBtn{
    color: #333333;
    background-color: #ffffff;
    padding: .4vw .4vw;
    font-size: .8vw;
    cursor: pointer;
    min-width: 5vw;
    height: 90%;
    border: none;
    outline: none;
}
.editRowBtn{
    width: 100%;
    background: #B22222;
    border-radius: 2vw;
    text-align: center;
    color: #ffffff;
    font-size: .8vw;
    height: 80%;
    border: none;
}
.editRowBtn:hover{
    opacity: .9;
    border: #1A1A1A 1px solid;
}
.NewDatabaseModal{
    width: 20%;
    border: solid 2px #1A1A1A;
    outline: none;
    background-color: #444444;
    border-radius: 1vw;
    margin: auto;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    display: none;
}
.NewDatabaseModal::backdrop{
    outline: none;
    background-color: #1A1A1A;
    opacity: .3;
}
dialog{
    overflow-x: hidden;
}
.ModalDiv{
    width: 90%;
    justify-content: center;
}
.ModalH1{
    color: #1A1A1A;
    font-size: 1vw;
    font-weight: 500;
    width: 80%;
    text-align: center;
    margin: 0%;
    margin-bottom: 2vw;
    padding: 0%;
}
.ModalClose{
    color: #66B2FF;
    padding: 0%;
    height: 3.5vh;
    font-size: 3vw;
    font-weight: 100;
    cursor: pointer;
    justify-content: end;
    width: 95%;
    text-align: end;
    padding: 1vw;
}
.ModalInp{
    color: #66B2FF;
    font-size: 1vw;
    font-weight: 500;
    outline: none;
    margin-top: 3vw;
    background-color: #333333;
    border: none;
    padding: .8vw;
    border-radius: 1.5vw;
}

.ModalInp:focus{
    border: #1A1A1A 1px solid;
}
.ModalBtn{
    color: #66B2FF;
    font-size: 1vw;
    background-color: #333333;
    padding: .2vw .5vw;
    margin-top: 1.5vw;
    margin-bottom: 1vw;
    border-radius: 1vw;
    cursor: pointer;
    width: 60%;
    border: none;
    outline: none;
}
.ModalBtn:hover{
    border: #ffffff 1px solid;
}
.NewTableModal{
    width: 30%;
    min-height: 35%;
    border: solid 2px #1A1A1A;
    outline: none;
    background-color: #444444;
    border-radius: 1vw;
    margin: auto;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    display: none;
}
.NewTableModal::backdrop{
    outline: none;
    background-color: #1A1A1A;
    opacity: .3;
}

.ModalSVG{
    width: 1.5vw;
    height: 1.5vw;
}
.ModalBtnText{
    width: 80%;
    font-size: 1vw;
    text-align: center;
}
.newTableRow{
    font-size: 1vw;
    color: #66B2FF;
    width: 35%;
    justify-content: space-around;
    text-decoration: underline;
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
}
.TableForm{
    flex-direction: column;
}
.tableRows{
    flex-direction: column;
    margin-bottom: 3vw;
}
.TableName{
    background-color: #333333;
    border: none;
    outline: none;
    font-size: 1vw;
    padding: .4vw;
    border-radius: .1vw;
    color: #66B2FF;
    margin: 0vw 0vw 2vw 0vw;
}

.TableType{
    background-color: #66B2FF;
    border: none;
    outline: none;
    font-size: 1vw;
    padding: .4vw;
    border-radius: .1vw;
}
.typeOptions{
    background-color: #333333;
    color: #66B2FF;
    
}
.newRow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.RowName{
    background-color: #333333;
    border: none;
    outline: none;
    font-size: 1vw;
    padding: .4vw;
    margin: .5vw;
    border-radius: .1vw;
    color: #66B2FF;
}
.RowCustom{
    background-color: #333333;
    border: none;
    outline: none;
    font-size: 1vw;
    padding: .4vw;
    margin: .5vw;
    border-radius: .1vw;
    color: #66B2FF;
    display: none;
}
.InsertDataModal{
    width: 30%;
    border: solid 2px #1A1A1A;
    outline: none;
    background-color: #444444;
    border-radius: 1vw;
    margin: auto;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    display: none;
}
.InsertDataModal::backdrop{
    background: #1A1A1A;
    opacity: .3;
}
.dataInsertDiv{
    flex-direction: column;
    width: 90%;
}
.dataInsertRow{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin: .2vw;
}
.InsertDataH1{
    color: #66B2FF;
    width: 30%;
    font-size: 1.3vw;
}
.InsertDataInp{
    background: #333333;
    border: none;
    outline: none;
    min-width: 50%;
    border-radius: .5vw;
    font-size: .8vw;
    height: auto;
    padding: .2vw .2vw;
    color: #66B2FF;
}
.DatabaseUserModal{
    width: 40%;
    border: solid 2px #1A1A1A;
    outline: none;
    background-color: #444444;
    border-radius: 1vw;
    margin: auto;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    display: none;
}
.dbUserInfo{
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.divUserDiv{
    width: 30%;
    margin: 1vw;
}
.dbUserRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    color: #66B2FF;
    padding: 10px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: .6vw;
    cursor: pointer;
    position: relative;
    width: 12vw;
}

.dbUserValue{
    margin-right: 10px;
    font-size: 1.2em;
    
}
.dbUserLabel{
    padding-left: .5vw;
    color: #ffffff;
    font-size: .7vw;
}

.indicatorSVG {
    width: 1vw;
    height: 1vw;
}
.indicator{
    color: lightgreen;
}
.IpDiv{
    width: 60%;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.IpInp{
    font-size: 1vw;
    border-radius: 1vw;
    padding: .7vw;
    background-color: #333333;
    border: #1A1A1A solid 1px;
    outline: none;
    
}
.IpLabel{
    width: 60%;
    font-size: 1vw;
    padding-left: 2vw;
    color: #66B2FF;
}
.Ipbtn{
    width: 60%;
    margin: 5%;
    border: none;
    background-color: #66B2FF;
    font-size: 1vw;
    padding: .5vw;
    border-radius: 1vw;
}
.Ipbtn:hover{
    opacity: .9 ;
    border: solid white 1px;
}


.AppendTableModal{
    width: 30%;
    border: solid 2px #1A1A1A;
    outline: none;
    background-color: #444444;
    border-radius: 1vw;
    margin: auto;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    display: none;
}
.dbBtnHolders{
    justify-content: start;
}
.styleBlueBlack{
    color: #333333;
    background-color: #66B2FF;
    padding: .4vw;
    margin: 1vw;
    border-radius: 1.5vw;
    font-size: .6vw;
    cursor: pointer;
    border: none;
    outline: none;
    font-family: RobotoBold;
}
.styleBlueBlack:hover{
    opacity: .8;
}

.ModifyTable{
    width: 30%;
    border: solid 2px #1A1A1A;
    outline: none;
    background-color: #444444;
    border-radius: 1vw;
    margin: auto;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    display: none;
    padding-bottom: 1vw;
}
.ModifyHolder{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modifyDiv{
    justify-content: space-between;
    width: 90%;
}
.modifyH1{
    color: #ffffff;
    font-size: 1.3vw;
}
.modifySelect{
    background-color: #1A1A1A;
    color: #66B2FF;
    padding: .5vw;
    border-radius: .4vw;
    margin: 1vw;
    font-size: 1.3vw;
}
.modifyBtn{
    background-color: #B22222;
    font-size: .8vw;
    border: none;
    outline: none;
    margin: 1vw;
    padding: .6vw;
    border-radius: 1vw;
    cursor: pointer;
}