body {
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    background-color: #444444;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
}

.body2 {
    justify-content: start;
    align-items: start;
    width: 100%;
}

.header {
    background-color: #444444;
    flex-direction: column;
    width: 5%;
    height: 98vh;
    justify-content: start;
    padding-top: 1vw;
    
}

.navItem {
    text-decoration: none;
    color: #ffffff;
    font-size: .8vw;
    margin: 0vw;
    height: 6%;
    width: 70%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    margin: .3vw;
}
.navImg{
    width: 2.2vw;
    height: 2.2vw;
    
}
.navItem:hover{
    background-color: #1A1A1A ;
}

.databaseBody {
    background-color: #333333;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow-y: scroll;
    border-top-left-radius: 1%;
    border-bottom-left-radius: 1%;
}

.databaseHeader {
    flex-direction: column;
    justify-content: start;
    width: 7%;
    padding-top: 1vw;
    border-right: solid 1px #ffffff79;
    background-color: #333333;
    
    
}

.databaseItem {
    color: #ffffff;
    text-decoration: none;
    height: 5%;
    width: 90%;
    font-size: .7vw;
    font-weight: 100;
    justify-content: start;
    padding-left: 10%;
    cursor: pointer;
}
.databaseDiv{
    width: 100%;
    overflow-x: scroll;
}
.databaseDiv::-webkit-scrollbar{
    display: none;
    width: 0%;
    height: 0%;
}

.tableHeader {
    height: auto;
    width: 98.7%;
    justify-content: space-between;
    padding-left: 1vw;
    overflow-x: scroll;

}
.tableHeader::-webkit-scrollbar{
    display: none;
    width: 0%;
    height: 0%;
}

.table {
    padding: 1vw;
    font-size: 1vw;
    color: #66B2FF;
    cursor: pointer;
}
.BlueBlackBtn{
    background-color: #66B2FF;
    color: #333333;
    border: none;
    padding: .7vw;
    border-radius: 1vw;
    font-size: .8vw;
    margin: 0vw .5vw;
    cursor: pointer;
    box-shadow: 2px 2px 8px 2px rgba(27, 27, 27, 1);
}
.BlueBlackBtn:hover{
    transform: scale(102%);
}
.SmlBBBtn{
    background-color: #66B2FF;
    color: #333333;
    padding: .5vw;
    border-radius: .5vw;
    font-size: .7vw;
    cursor: pointer;
}
.dataInsertBtn{
    color: #333333;
    background-color: #66B2FF;
    padding: .6vw;
    margin: 1vw;
    border-radius: 1.5vw;
    font-size: .7vw;
    cursor: pointer;
}
.dataInsertBtn:hover{
    opacity: .8;
}
.SVG{
    width: 1.2vw;
    height: 1.2vw;
}
.TableDisplay{
    margin-top: 5%;
    margin-left: 1%;
    padding: 0%;
}
.tableDesc{
    text-align: center;
    font-size: 1vw;
    color: #66B2FF;
    margin: 0%;
}
.tableIDDesc{
    width: 1.5vw;
    text-align: center;
    font-size: 1vw;
    color: #66B2FF;
    margin: 0%;
}
.tableRow{
    margin: 0%;
    padding: 0%;
    margin: .2vw;
}
.tableData{
    padding-left: .5vw;
    height: 2vw;
    width: 10vw;
    margin: 0%;
    border: solid 1px #66B2FF;
    color: #ffffff;
    font-size: .7vw;
}
.tableID{
    height: 2vw;
    width: 1.5vw;
    font-size: 1.2vw;
    margin: 0%;
    color: #ffffff;
    text-align: center;
}
.NewDatabaseModal{
    width: 20%;
    border: solid 2px #1A1A1A;
    outline: none;
    background-color: #444444;
    border-radius: 1vw;
    margin: auto;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    display: none;
}
.NewDatabaseModal::backdrop{
    outline: none;
    background-color: #1A1A1A;
    opacity: .3;
}
.ModalDiv{
    width: 90%;
    justify-content: center;
}
.ModalH1{
    color: #1A1A1A;
    font-size: 1vw;
    font-weight: 500;
    width: 80%;
    text-align: center;
}
.ModalClose{
    color: #66B2FF;
    padding: 0%;
    height: 5vh;
    font-size: 3vw;
    font-weight: 100;
    cursor: pointer;
    justify-content: end;
    width: 95%;
    text-align: end;
}
.ModalInp{
    color: #66B2FF;
    font-size: 1vw;
    font-weight: 500;
    outline: none;
    margin-top: 3vw;
    background-color: #333333;
    border: none;
    padding: .8vw;
    border-radius: 1.5vw;
}

.ModalInp:focus{
    border: #1A1A1A 1px solid;
}
.ModalBtn{
    color: #66B2FF;
    font-size: 1vw;
    background-color: #333333;
    padding: .2vw .5vw;
    margin-top: 1.5vw;
    margin-bottom: 1vw;
    border-radius: 1vw;
    cursor: pointer;
    width: 60%;
    border: none;
    outline: none;
}
.ModalBtn:hover{
    border: #ffffff 1px solid;
}
.NewTableModal{
    width: 30%;
    min-height: 35%;
    border: solid 2px #1A1A1A;
    outline: none;
    background-color: #444444;
    border-radius: 1vw;
    margin: auto;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    display: none;
}
.NewTableModal::backdrop{
    outline: none;
    background-color: #1A1A1A;
    opacity: .3;
}

.ModalSVG{
    width: 1.5vw;
    height: 1.5vw;
}
.ModalBtnText{
    width: 80%;
    font-size: 1vw;
    text-align: center;
}
.newTableRow{
    font-size: 1vw;
    color: #66B2FF;
    width: 35%;
    justify-content: space-around;
    text-decoration: underline;
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
}
.TableForm{
    flex-direction: column;
}
.tableRows{
    flex-direction: column;
    margin-bottom: 3vw;
}
.TableName{
    background-color: #333333;
    border: none;
    outline: none;
    font-size: 1vw;
    padding: .4vw;
    border-radius: .1vw;
    color: #66B2FF;
    margin: 0vw 0vw 2vw 0vw;
}

.TableType{
    background-color: #66B2FF;
    border: none;
    outline: none;
    font-size: 1vw;
    padding: .4vw;
    border-radius: .1vw;
}
.typeOptions{
    background-color: #333333;
    color: #66B2FF;
    
}
.RowName{
    background-color: #333333;
    border: none;
    outline: none;
    font-size: 1vw;
    padding: .4vw;
    margin: .5vw;
    border-radius: .1vw;
    color: #66B2FF;
}
.InsertDataModal{
    width: 30%;
    border: solid 2px #1A1A1A;
    outline: none;
    background-color: #444444;
    border-radius: 1vw;
    margin: auto;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    display: none;
}
.InsertDataModal::backdrop{
    background: #1A1A1A;
    opacity: .3;
}
.dataInsertDiv{
    flex-direction: column;
    width: 90%;
}
.dataInsertRow{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin: .2vw;
}
.InsertDataH1{
    color: #66B2FF;
    width: 30%;
}
.InsertDataInp{
    background: #333333;
    border: none;
    outline: none;
    min-width: 50%;
    border-radius: .5vw;
    font-size: .8vw;
    padding: 0vw .5vw;
    color: #66B2FF;
}